body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@media screen and (min-width: 18.75em) {
  body {
    font-size: 0.9em;
  }
  #top-bar .top-bar-container .top-menu ul {
    padding: 0.4em 0 0 0.4em;
  }
  #top-bar .top-bar-container .top-menu ul li {
    padding: 0 0.2em;
  }
  #top-bar .top-bar-container .search-box {
    padding: 1em 0 0.3em 0;
  }
  #header {
    border-bottom: 2px solid #fafafa;
  }
  #header .header-container {
    padding-top: 0.2em;
  }
  #header .header-container .site-title .logo {
    padding-left: 0.2em;
  }
  #header .header-container .site-title .logo img {
    width: 7em;
  }
  #header .header-container .site-title .ads-header {
    display: none;
  }
  #header .header-container .header-menu {
    min-height: 3em;
    margin-top: 0.1em;
  }
  #header .header-container .header-menu a.show-menu {
    margin: 0 1em 1em 8.7em;
    padding: 0.8em;
    text-align: center;
    font-weight: bold;
  }
  #header .header-container .header-menu a.show-menu:hover {
    color: #fff;
  }
  #header .header-container .header-menu ul li ul {
    margin: 0;
  }
  #wrapper .content .post {
    width: 98%;
    margin: 1em 1%;
    height: 18em;
  }
  #wrapper .content .post .post-header {
    height: 4em;
  }
  #wrapper .content .post .post-header .author-avatar {
    display: none;
  }
  #wrapper .content .post .post-header .post-header-container {
    padding: 0.3em;
    font-size: 0.8em;
  }
  #wrapper .content .post .post-content .post-thumbnail {
    margin: 4px;
  }
  #wrapper .content .post .post-content .post-thumbnail img {
    width: 80px;
    height: 80px;
  }
  #wrapper .content .post .post-content .post-excerpt {
    margin-left: 5px;
  }
  #wrapper .sidebar .sidebar-item {
    width: 98%;
    margin: auto;
  }
  #wrapper .sidebar .sidebar-item ul {
    margin: 0;
    padding: 5px;
  }
  #footer .footer-logo img {
    width: 100%;
  }
}
#wrapper .content .single-post{
  width: 98%;
  margin: 1%;
}
#wrapper .content .breadcrumbs{
  width: 98%;
  margin: 1%;
}